:root {
	--white-color: #fff;
	--black-color: #000;
	--first-link: #1C2E3D;
	--first-btn: #E8594E;
	--neptune-color: #73AFBA;
	--Jordy-Blue-color: #73AFEE;
	--featured-color: #3C4A51;
	--descr-color: #788692;
	--footer-color: #100E0B;
	--footer-items:#959EA6;
	--footer-form: #1B1916;
	--hover-color: #b9473e;
	--hover-btn: #5c8cbe;
}
